# {{ ansible_managed }}
# Managed by bootstrap-workstation - edits will be overwritten on next run.

font_family      {{ nerd_font_face }}
font_size        {{ terminal_font_size }}

# Reasonable defaults
scrollback_lines 10000
enable_audio_bell no
window_padding_width 4
confirm_os_window_close 0
